<!-- Navigation Bar -->
<!-- <div class="major-container"> -->
<ul id="menu-dropdown" class="dropdown-content">
  <li><a ng-click="openProfileModal()" class="waves-effect waves-light">Edit Profile Info</a></li>
  <li><a ng-click="openPasswordModal()" class="waves-effect waves-light">Edit Password</a></li>
  <li><a ng-click="openImageModal()" class="waves-effect waves-light">Edit Photo</a></li>
  <li><a ng-click="logoutUser()">Logout</a></li>
</ul>

<div class="navigation row">
  <a class='dropdown-button left' href='#' data-activates='menu-dropdown'>
  <i class="mdi-navigation-arrow-drop-down small"><img src="{{avatar}}" class="circle icon-pic"></i>  
  </a>
  <h5>{{farmerProfile.farm}}</h5>
</div>

<!-- Change Password Modal -->
<div id="changePassword" class="modal">    
  <div class="modal-content">
    <div class="row">

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-lock-open prefix"></i>
        <input id="new-password" type="password" class="validate" ng-model="user.password">
        <label for="new-password" class="label">New Password</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-lock-open prefix"></i>
        <input id="password-confirm" type="password" class="validate" ng-model="user.password_confirmation">
        <label for="  " class="label">Password Confirmation</label>
      </div>

    </div>
  </div>

  <div class="modal-footer row">

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="changePassword(user)">Change Password</a>
    </div>

  </div>
</div>

<!-- Edit Profile Modal -->
<div id="editProfile" class="modal">
  <div class="modal-content">
    <div class="row">
      <h5 class="center">Edit Farm Profile</h5>
      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-home prefix"></i>
        <input id="contact-name" type="text" class="validate" ng-model="farmer.contact_name">
        <label for="contact-name">Contact Name: {{farmerProfile.contact_name}}</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-home prefix"></i>
        <input id="farm-name" type="text" class="validate" ng-model="farmer.farm">
        <label for="farm-name">Farm Name: {{farmerProfile.farm}}</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-place prefix"></i>
        <input id="farm-location" type="text" class="validate" ng-model="farmer.location">
        <label for="farm-location">Location: {{farmerProfile.location}}</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-local-phone prefix"></i>
        <input id="business-phone" type="text" class="validate" ng-model="farmer.business_phone">
        <label for="business-phone">Phone: {{farmerProfile.business_phone}}</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-local-restaurant prefix"></i>  
        <input id="crop-names" type="text" class="validate" ng-model="farmer.crop_names">
        <label for="crop-names">Crops produced: {{farmerProfile.crop_names}}</label>
      </div>
    </div>

    

    <div class="col s12 l8 offset-l2">
      <a class="btn-floating btn-large waves-effect waves-light red" ng-click='deleteUser()'><i class="mdi-action-delete white-text"></i></a>&nbsp &nbsp<span>Delete Account</span>
    </div>

  </div>

    <div class="modal-footer row">

      <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
        <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
      </div>

      <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
        <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="editFarmerProfile(farmer)">Save Changes</a>
      </div>

    </div>
</div> 

<br> 
<div class="main-container row">

<!-- Upload Image Modal-->
<div id="editPhoto" class="modal">    
  <div class="modal-content">
    
    <div class="row">
      <p>Current Image:</p>
      <img src="{{avatar}}">
    </div> <br>

    <div class="row">

      <form ng-submit="uploadImage()">
        <input type="file" id="uploadImage">
        <button type="submit">Upload New Image</button>
      </form>

    </div>
  </div>
</div>


<!-- Show/Hide Tutorial -->
<div class="row center tutorial">
<a href="" ng-click="showme=true">new? click for instructions</a>
</div><br>

<ul class="collapsible col s12 m10 offset-m1 l10 offset-l1 amber lighten-5" ng-show="showme" >
  
  <div class="row" ng-hide="showme">
  </div>
  
  <li class="amber lighten-5">
    
    <div class="collapsible-header truncate center amber lighten-5" >
      <a href="" class="remove-how-to" ng-click="showme=false"><i class="mdi-content-clear"></i></a>
      <h5>Instructions</h5>
    </div>

    <div class="row">
      <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="step-1">Step 1</th>
              <th data-field="step-2">Step 2</th>
              <th data-field="step-3">Step 3</th>
              <th data-field="step-4">Step 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Add new crops using the "Add" button below</td>
            <td>Make sure to add images of your crops too!</td>
            <td>Edit existing crops by tapping the pencil icon</td>
            <td>Delete crops by tapping the red "X" icon</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>


<!-- Farm Card Section -->  
<!-- <div class="row">
  <div class="card col s8 offset-s2 m4 offset-m1 l4 offset-l1 white">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator data-lightbox" src="{{avatar}}">
    </div>
    <div class="card-content">
      <h5 class="card-title activator brown-text">{{farmerProfile.farm}}<i class="mdi-navigation-expand-less medium right brown-text"></i></h5>
      <p>Location: {{farmerProfile.location}}</p>
      <p>Farmer: {{farmerProfile.contact_name}}</p>
      <p>Phone: {{farmerProfile.business_phone}}</p>
      <p>Email: {{farmerProfile.business_email}}</p>
      <p>Crops: {{farmerProfile.crop_names}}</p>
    </div>
    <div class="card-reveal white">
      <span class="card-title grey-text text-darken-4">About {{farmerProfile.farm}}<i class="mdi-navigation-close right black-text"></i></span>
      <p>{{farmerProfile.description}}</p>
    </div>
  </div>
</div> -->


<!-- <div class="collapsible image-box center col s12 m10 offset-m1 l10 offset-l1 amber lighten-5">
  <div class="center">
    <h5>Images</h5>
  </div><br>

  <a href="images/farm-1.jpg" data-lightbox="farm" data-title="Time to harvest"><img class="img-icon" src="images/farm-1.jpg"></a>
  <a href="images/farm.jpg" data-lightbox="farm" data-title="My caption"><img class="img-icon" src="images/farm.jpg"></a>
  <a href="images/farm1.jpeg" data-lightbox="farm" data-title="My caption"><img class="img-icon" src="images/farm1.jpeg"></a>
  <a href="images/farmers-market-logo.png" data-lightbox="farm" data-title="My caption"><img class="img-icon" src="images/farmers-market-logo.png"></a>
</div> -->

  <!-- <hr> -->

<!-- Crops Listed Section -->
<ul class="collapsible col s12 m10 offset-m1 l10 offset-l1 amber lighten-5" data-collapsible="expandable">
  
  <div class="center">
    <h5>Your Crops</h5>
  </div>

  <div class="row">
    <div class="search-bar input-field col s12 m6 l6 " ng-model="searchText">
      <i class="mdi-action-search prefix"></i>
      <input id="crop-search" type="text" >
      <label for="crop-search">Search</label>
    </div>

     <a ng-click="openAddCropModal()" class="add-crops waves-effect waves-light btn col s3 offset-s1 m2 l1 offset-l1 ">Add</a> 

     <div class="col s6 offset-s1 m4 l3 offset-l1 filter-bar ">
      <select class="unit-type browser-default" ng-options="type for type in filterTypes" ng-model="cropIn.type">
        <option value="" disabled selected>Filter by...</option>
      </select>     
    </div>
  </div>
  
  <li class="amber lighten-5" ng-repeat="crop in allCrops" id="{{crop.id}}">    
    <div class="collapsible-header truncate" >      
      <a href="{{crop.avatar}}" data-lightbox="{{crop.id}}" data-title="{{crop.crop_name}}" class="photo-crop"><i class="mdi-image-camera-alt"></i></a>

      <span>{{crop.quantity || '(no quantity)'}} of {{crop.crop_name || '(no name)'}} for ${{crop.price || '(no price)'}}</span>

      <a href="" ng-click="deleteCrop(crop.id)" class="delete-crop secondary-content"><i class="mdi-content-clear"></i></a>

      <a href="" ng-click="openEditCropModal(crop.id)" class="edit-crop secondary-content"><i class="mdi-editor-mode-edit"></i></a>
    </div>

    <div class="collapsible-body row">
      <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="harvest-date">Harvest Date</th>
              <th data-field="qty">Quantity</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{crop.harvest_date || '(no harvest date provided)'}}</td>
            <td>{{crop.quantity || '(no quantity provided)'}} {{crop.unit || '(no unit provided)'}}s</td>
            <td>${{crop.price || '(no price provided)'}} per {{crop.unit || '(no unit provided)'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>


<!-- Add Crop Modal -->
<div id="addCrop" class="modal">
  <div class="modal-content">
    <form>
    <div class="row">
      <h4 class="brown-text center">Add a New Crop</h4>
    </div>
    <div class="col s12 l8 offset-l2">
      <div class="input-field">
        <input id="crop-name" type="text" ng-model="cropIn.crop_name">
        <label for="crop-name">Crop Name</label>
      </div>
    </div>
    <div class="col s12 l8 offset-l2">
      <div class="input-field">
        <input id="crop-quantity" type="text" ng-model="cropIn.quantity">
        <label for="crop-quantity">Quantity</label>
      </div>
    </div>
    <div class="col s12 l8 offset-l2">
      <div class="input-field">
        <input id="crop-price" type="number" ng-model="cropIn.price">
        <label for="crop-price">Price</label>      
      </div>
    </div> 
    <div class="col s12 l8 offset-l2">
      <select class="unit-type browser-default" ng-options="unit for unit in unitTypes" ng-model="cropIn.unit">
        <option value="" disabled selected>Price per...</option>
      </select>     
    </div>
    <div class="col s12 l8 offset-l2">
      <select class="currency-type browser-default" ng-options="currency for currency in currencyTypes" ng-model="cropIn.currency">
        <option value="" disabled selected>Currency Code</option>       
      </select>     
    </div>
    <!-- Upload Image Modal-->
    <div class="modal-content">
      <div class="row">
          <input type="file" id="cropImage">
      </div>
    </div>
  </div>
  <div class="modal-footer row">
    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>
    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a class="col s12 waves-effect waves-green btn brown modal-action" ng-click="addCrop(cropIn)">Add Crop</a>
    </div>
  </div>
  </form>    
</div>

<!-- Edit Crop Modal -->
<div id="editCropModal" class="modal">
  <div class="modal-content">
    
    <div class="row">
      <h4 class="brown-text center">Edit Crop</h4>
    </div>

    <div class="col s12 l8 offset-l2 browser-default">
      <div class="input-field">
        <input id="crop-name" type="text" ng-model="cropIn.crop_name" required>
        <label for="crop-name">Crop Name</label>
      </div>
    </div>

    <div class="col s12 l8 offset-l2 browser-default" required>
      <div class="input-field">
        <input id="crop-quantity" type="text" ng-model="cropIn.quantity">
        <label for="crop-quantity">Quantity</label>
      </div>
    </div>


    <div class="col s12 l8 offset-l2">
      <div class="input-field">
        <input id="crop-price" type="number" ng-model="cropIn.price" required>
        <label for="crop-price">Price</label>      
      </div>
    </div> 

    <div class="col s12 l8 offset-l2">
      <select class="unit-type browser-default" ng-options="unit for unit in unitTypes" ng-model="cropIn.unit" required>
        <option value="" disabled selected>Price per...</option>
      </select>     
    </div>

    <div class="col s12 l8 offset-l2" required>
      <select class="currency-type browser-default" ng-options="currency for currency in currencyTypes" ng-model="cropIn.currency">
        <option value="" disabled selected>Currency Code</option>       
      </select>     
    </div>

  </div>

  <div class="modal-footer row">
    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a class="col s12 waves-effect waves-green btn brown modal-action" ng-click="editCrop(cropIn)">Edit Crop</a>
    </div>
  </div>


<!-- </div> -->

<!-- DISQUS -->

<!--   <div id="disqus_thread" class="col s10 offset-s1"></div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'thefarmersmarket';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->




</div>