<!-- Navigation Bar -->
<ul id="menu-dropdown" class="dropdown-content">
  <li><a ng-click="openProfileModal()" class="waves-effect waves-light">Edit Profile Info</a></li>
  <li><a ng-click="openPasswordModal()" class="waves-effect waves-light">Edit Password</a></li>
  <li><a ng-click="openImageModal()" class="waves-effect waves-light">Edit Photo</a></li>
  <li><a ng-click="logoutUser()">Logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a class='dropdown-button' href='#' data-activates='menu-dropdown'><img src="{{avatar}}" class="circle icon-pic">&nbsp&nbsp Navigation</a>
  </div>
</nav>

<!-- Change Password Modal -->
<div id="changePassword" class="modal">    
  <div class="modal-content">
    <div class="row">

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-lock-open prefix"></i>
        <input id="new-password" type="password" class="validate" ng-model="user.password">
        <label for="new-password" class="label">New Password</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-lock-open prefix"></i>
        <input id="password-confirm" type="password" class="validate" ng-model="user.password_confirmation">
        <label for="  " class="label">Password Confirmation</label>
      </div>

    </div>
  </div>

  <div class="modal-footer row">

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="changePassword(user)">Change Password</a>
    </div>

  </div>
</div>

<!-- Edit Profile Modal -->
<div id="editProfile" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-home prefix"></i>
        <input id="farm-name" type="text" class="validate" ng-model="farmer.farm">
        <label for="farm-name">Farm Name</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-place prefix"></i>
        <input id="farm-location" type="text" class="validate" ng-model="farmer.location">
        <label for="farm-location">Farm Location</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-local-phone prefix"></i>
        <input id="business-phone" type="text" class="validate" ng-model="farmer.business_phone">
        <label for="business-phone">Business Phone</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-local-restaurant prefix"></i>  
        <input id="crop-names" type="text" class="validate" ng-model="farmer.crop_names">
        <label for="crop-names">Crops Produced</label>
      </div>
    </div>

    

    <div class="col s12 l8 offset-l2">
      <a class="btn-floating btn-large waves-effect waves-light red" ng-click='deleteAccount()'><i class="mdi-action-delete white-text"></i></a>&nbsp &nbsp<span>Delete Account</span>
    </div>

  </div>

    <div class="modal-footer row">

      <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
        <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
      </div>

      <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
        <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="editFarmerProfile(farmer)">Save Changes</a>
      </div>

    </div>
</div> 

<br> 
<div class="main-container row">

<!-- Upload Image -->
<div id="editPhoto" class="modal">    
  <div class="modal-content">
    <div class="row">

      <form ng-submit="uploadImage()">
        <input type="file" id="uploadImage" >
        <button type="submit">Upload New Image</button>
      </form>

    </div>
  </div>

  <!-- <div class="modal-footer row">

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="changePassword(user)">Change Password</a>
    </div>

  </div> -->
</div>


<!-- Farm Card Section -->
<div class="row">
  <div class="card col s12 m6 offset-m1 l4 offset-l1 white">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{avatar}}">
    </div>
    <div class="card-content">
      <h5 class="card-title activator brown-text">{{farmerProfile.farm}}<i class="mdi-navigation-expand-less medium right brown-text"></i></h5>
      <p>Location: {{farmerProfile.location}}</p>
      <p>Farmer: {{farmerProfile.contact_name}}</p>
      <p>Phone: {{farmerProfile.business_phone}}</p>
      <p>Email: {{farmerProfile.business_email}}</p>
      <p>Crops: {{farmerProfile.crop_names}}</p>
    </div>
    <div class="card-reveal white">
      <span class="card-title grey-text text-darken-4">About {{farmerProfile.farm}}<i class="mdi-navigation-close right black-text"></i></span>
      <p>{{farmerProfile.description}}</p>
    </div>
  </div>
</div>


 
<!-- Crops Listed Section -->
<ul class="collapsible col s12 m10 offset-m1 l10 offset-l1 amber lighten-5" data-collapsible="expandable">
  
  <div class="row">
    <h5>Crops Listed</h5>
  </div>
  <br>
  
  <div class="row">
    <div class="search-bar input-field col s12 m8 l9 right">
      <i class="mdi-action-search prefix"></i>
      <input id="crop-search" type="text" class="">
      <label for="crop-search">Filter Your Crops</label>
    </div>
     <a ng-click="openAddCropModal()" class="add-crops left green lighten-2 black-text waves-effect waves-light btn col s8 offset-s2 m4 l3"><i class="mdi-content-add right black-text"></i>Add Crops</a>
  </div>
  
  <li class="amber lighten-5" ng-repeat="crop in allCrops">
    <div class="collapsible-header truncate"><i class="mdi-maps-restaurant-menu"></i>{{crop.quantity}} of {{crop.crop_name}} for {{crop.price}}</div>
    <div class="collapsible-body row">
      <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="farm-name">Farm Name</th>
              <th data-field="harvest-date">Harvest Date</th>
              <th data-field="qty">Quantity</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Need Farm Name</td>
            <td>Need Harvest Date</td>
            <td>{{crop.quantity}}</td>
            <td>{{crop.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<!-- Add Crop Modal -->
<div id="addCrop" class="modal">
  <div class="modal-content">
    
    <div class="row">
      <h4 class="brown-text center">Add a New Crop</h4>
    </div>

    <div class="col s12 l8 offset-l2 browser-default">
      <div class="input-field">
        <input id="crop-name" type="text" ng-model="cropIn.crop_name" required>
        <label for="crop-name">Crop Name</label>
      </div>
    </div>

    <div class="col s12 l8 offset-l2 browser-default" required>
      <div class="input-field">
        <input id="crop-quantity" type="text" ng-model="cropIn.quantity">
        <label for="crop-quantity">Quantity</label>
      </div>
    </div>


    <div class="col s12 l8 offset-l2">
      <div class="input-field">
        <input id="crop-price" type="number" ng-model="cropIn.price" required>
        <label for="crop-price">Price</label>      
      </div>
    </div> 

    <div class="col s12 l8 offset-l2">
      <select class="unit-type browser-default" ng-options="type for type in unitTypes" ng-model="cropIn.type" required>
        <option value="" disabled selected>Price per...</option>
      </select>     
    </div>

    <div class="col s12 l8 offset-l2" required>
      <select class="currency-type browser-default" ng-options="currency for currency in currencyTypes" ng-model="cropIn.currency">
        <option value="" disabled selected>Currency Code</option>       
      </select>     
    </div>

  </div>

  <div class="modal-footer row">
    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a class="col s12 waves-effect waves-green btn brown modal-action" ng-click="addCrop(cropIn)">Add Crop</a>
    </div>
  </div>

</div>





