<!-- Navigation Bar -->
<ul id="menu-dropdown" class="dropdown-content">
  <li><a ng-click="openProfileModal()" class="waves-effect waves-light">Edit Profile</a></li>
  <li><a ng-click="openPasswordModal()" class="waves-effect waves-light">Edit Password</a></li>
  <li><a ng-click="openImageModal()" class="waves-effect waves-light">Edit Photo</a></li>
  <li><a ng-click="logoutUser()">Logout</a></li>
</ul>

<div class="navigation row">
    <a class='dropdown-button left' href='#' data-activates='menu-dropdown'>
      <i class="mdi-navigation-arrow-drop-down small"><img src="{{avatar}}" class="circle icon-pic"></i>  
    </a>
    <h5 class="col s9">{{customerProfile.business}}</h5>
</div>

<!-- Change Password Modal -->
<div id="changePassword" class="modal">    
  <div class="modal-content">
    <div class="row">

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-lock-open prefix"></i>
        <input id="new-password" type="password" class="validate" ng-model="user.password">
        <label for="new-password" class="label">New Password</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-lock-open prefix"></i>
        <input id="password-confirm" type="password" class="validate" ng-model="user.password_confirmation">
        <label for="  " class="label">Password Confirmation</label>
      </div>

    </div>
  </div>

  <div class="modal-footer row">

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="changePassword(user)">Change Password</a>
    </div>

  </div>
</div>

<!-- Edit Profile Modal -->
<div id="editProfile" class="modal">
  <div class="modal-content">
    <div class="row">

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-social-person prefix"></i>
        <input id="customer-name" type="text" class="validate" ng-model="customer.contact_name">
        <label for="customer-name">Contact Name</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-action-home prefix"></i>
        <input id="business-name" type="text" class="validate" ng-model="customer.business">
        <label for="business-name">Business Name</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-place prefix"></i>
        <input id="business-location" type="text" class="validate" ng-model="customer.location">
        <label for="business-location">Business Location</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-maps-local-phone prefix"></i>
        <input id="business-phone" type="text" class="validate" ng-model="customer.business_phone">
        <label for="business-phone">Business Phone</label>
      </div>

      <div class="input-field col s12 l8 offset-l2">
        <i class="mdi-communication-email prefix"></i>
        <input id="business-email" type="text" class="validate" ng-model="customer.business_email">
        <label for="business-email">Business Email</label>
      </div>

      <div class="col s12 l8 offset-l2">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click='deleteUser()'><i class="mdi-action-delete white-text"></i></a>&nbsp &nbsp<span>Delete Account</span>
      </div>

    </div>
  </div>

    <div class="modal-footer row">

      <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
        <a href="" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
      </div>

      <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
        <a href="" class="col s12 waves-effect waves-green btn brown modal-action" ng-click="editCustomerProfile(customer)">Save Changes</a>
      </div>

    </div>
</div> 

<br> 
<div class="main-container row">


<!-- Upload Image Modal-->
<div id="editPhoto" class="modal">    
  <div class="modal-content">
    <div class="row">

      <form ng-submit="uploadImage()">
        <input type="file" id="uploadImage">
        <button type="submit">Upload New Image</button>
      </form>

    </div>
  </div>
</div>


<!-- Show/Hide Tutorial -->
<div class="row center tutorial">
<a href="" ng-click="showme=true">new? click for instructions</a>
</div><br>

<ul class="collapsible col s12 m10 offset-m1 l10 offset-l1 amber lighten-5" ng-show="showme" >
  
  <div class="row" ng-hide="showme">
  </div>
  
  <li class="amber lighten-5">
    
    <div class="collapsible-header truncate amber lighten-5 row">
      <a href="" class="remove-how-to left" ng-click="showme=false"><i class="mdi-content-clear"></i></a>
      <h5 class="center">Instructions</h5>
    </div>

    <div class="row">
      <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="step-1" class="center">Step 1</th>
              <th data-field="step-2" class="center">Step 2</th>
              <th data-field="step-3" class="center">Step 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Search for crops in "Marketplace"</td>
            <td>Track your crops by storing them in "Cart"</td>
            <td>Follow and receive updates from farmers you trust.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>


<!-- Following -->
<ul class="collapsible col s12 m8 offset-m2 l4 offset-l1 amber lighten-5">
  
  <div class="row">
    <h5 class= "center">Following &nbsp<i class="mdi-social-person-add"></i></h5>
  </div><br>
  
  <!-- Show Followers -->
  <li class="amber lighten-5" ng-repeat="farm in allFollowing">    
    <div class="collapsible-header truncate" >
      <a href="mailto:{{farm.email}}" class="add-to-cart"><i class="mdi-communication-email"></i></a>
      <a href="#/main/farmer-profile/{{farm.farmer_id}}">{{farm.farm}}</a>
      <a href="" class="remove-how-to secondary-content" ng-click="unFollow(farm.farmer_id)"><i class="mdi-navigation-close"></i></a>

    </div>
  </li>
</ul>

<!-- Cart -->
<ul class="collapsible col s12 m8 offset-m2 l5 offset-l1 amber lighten-5">
  
  <div class="row">
    <h5 class= "center">Cart &nbsp<i class="mdi-action-shopping-cart"></i></h5>
  </div><br>
  
  <!-- Items in Cart -->
  <li class="amber lighten-5" ng-repeat="item in myCart">
    
    <div class="collapsible-header truncate" >   
      <a href="{{item.avatar}}" data-lightbox="{{item.crop_id}}" data-title="{{item.crop_name}}" class="photo-crop"><i class="mdi-image-camera-alt"></i></a>   
      <span>{{item.quantity}} {{item.unit}} of {{item.crop_name}} for ${{item.price}}</span>
      <a href="" class="remove-how-to secondary-content" ng-click="removeFromCart(item.crop_id)"><i class="mdi-navigation-close"></i></a>

    </div>

    <div class="collapsible-body row">
      <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="result-type">Crop Name</th>
              <th data-field="result-type">Farm Name</th>    
              <th data-field="result-type">Contact Name</th>
              <th data-field="result-type">Quantity</th>
              <th data-field="result-type">Price</th>          
              <th data-field="result-url">Farm URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{item.crop_name || "no name provided"}}</td>
            <td>{{item.farm || "no farm provided"}}</td>
            <td>{{item.contact_name || "no name provided"}}</td>
            <td>{{item.quantity || "no quantity provided"}} {{item.unit}}s</td>
            <td>${{item.price || "no price provided"}} per {{item.unit}}</td>
            <td><a href="#/main/farmer-profile/{{item.farmer_id}}">Go here</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>


 
<!-- Crops Listed Section -->
<ul class="collapsible col s12 m10 offset-m1 l10 offset-l1 amber lighten-5">
  
  <div class="row">
    <h5 class= "center">Marketplace</h5>
  </div>
  
  <!-- Search Bar -->
  <div class="row">
    <form>
      <div class="search-bar input-field col s9 left">
        <i class="mdi-action-search prefix"></i>
        <input id="crop-search" type="text" ng-model="searchQuery">
        <!-- <label for="crop-search">Search for Crops</label> -->
      </div>

      <button class="btn waves-effect waves-light right search-btn col s3" type="submit" ng-click="search(searchQuery)">
        Search
      </button>
    </form>
  </div>
  
  <!-- Search Results -->
  <li class="amber lighten-5" ng-repeat="result in allResults">
    
    <div class="collapsible-header truncate">      
      <a href="{{result.avatar}}" data-lightbox="{{result.crop_id}}" data-title="{{result.crop_name}}" class="photo-crop"><i class="mdi-image-camera-alt"></i></a>
      <a href="" class="add-to-cart" ng-click="addToCart(result)"><i class="mdi-action-add-shopping-cart"></i></a>
      <span>{{result.quantity}} {{result.unit}}s of {{result.crop_name}} for ${{result.price}}</span>
    </div>

    <div class="collapsible-body row">
      <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="result-type">Crop Name</th>
              <th data-field="result-type">Farm Name</th>    
              <th data-field="result-type">Contact Name</th>
              <th data-field="result-type">Quantity</th>
              <th data-field="result-type">Price</th>          
              <th data-field="result-url">Farm URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{result.crop_name || "no name provided"}}</td>
            <td>{{result.farm || "no farm provided"}}</td>
            <td>{{result.contact_name || "no name provided"}}</td>
            <td>{{result.quantity || "no quantity provided"}} {{result.unit}}s</td>
            <td>${{result.price || "no price provided"}} per {{result.unit}}</td>
            <td><a href="#/main/farmer-profile/{{result.farmer_id}}">Go here</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<!-- Add Crop Modal -->
<div id="addCrop" class="modal">
  <div class="modal-content">
    
    <div class="row">
      <h4 class="brown-text center">Add a New Crop</h4>
    </div>

    <div class="col s12 l8 offset-l2 browser-default">
      <div class="input-field">
        <input id="crop-name" type="text" ng-model="crop.crop_name" required>
        <label for="crop-name">Crop Name</label>
      </div>
    </div>

    <div class="col s12 l8 offset-l2 browser-default" required>
      <div class="input-field">
        <input id="crop-quantity" type="text" ng-model="crop.quantity">
        <label for="crop-quantity">Quantity</label>
      </div>
    </div>

    <div class="col s12 l8 offset-l2">
      <div class="input-field">
        <input id="crop-price" type="number" ng-model="crop.price" required>
        <label for="crop-price">Price</label>      
      </div>
    </div> 

    <div class="col s12 l8 offset-l2">
      <select class="unit-type browser-default" ng-options="type for type in unitTypes" ng-model="crop.type" required>
        <option value="" disabled selected>Price per...</option>
      </select>     
    </div>

    <div class="col s12 l8 offset-l2" required>
      <select class="currency-type browser-default" ng-options="currency for currency in currencyTypes" ng-model="crop.currency">
        <option value="" disabled selected>Currency Code</option>       
      </select>     
    </div>

  </div>

  <div class="modal-footer row">
    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a href="#" class="col s12 waves-effect waves-green btn brown modal-action modal-close">Go Back</a>
    </div>

    <div class="col s9 offset-s2 m5 offset-m1 l5 offset-l1">
      <a class="col s12 waves-effect waves-green btn brown modal-action" ng-click="addCrop(crop)">Add Crop</a>
    </div>
  </div>

</div>





