//Fonts
$alfa-font: 'Bree Serif', serif;
$standard: 'Open Sans', sans-serif;
//Colors
$cream: HSLA(60, 46%, 90%, 1);
$green: HSLA(120, 100%, 30%, 1);
$brown: HSLA(21, 35%, 50%, 1);
$soft-green: HSLA(122, 39%, 49%, 1);

// Custom Styles
body {
  background: #fafafa;
  font-family: $standard;
  color: black;
}

.logo {
  width: 100px;
}

.user-login {
	font-size: 14px;
	margin: 8px 0 0 0;
}

.row {
	margin: 0px auto;
}

i {
	color: $cream;
}

h1, h2, h3, h4, h5, h6 {
	color: $cream;
	font-family: $alfa-font;
	letter-spacing: 2px;
	font-weight: 900;
}

.nav-wrapper {
	background-color: $cream;
}


.profile-banner {
	width: 100%;
	background-color: $soft-green;

	.profile-card {
		background-color: white;
		margin: 3% auto;
	}

	.profile-pic {
		margin: 3% auto;
		width: 75px;
	}

	.cta-container {
		margin-top: 4%;
	}

	.cta h5 {
		margin: 0px auto 40px auto;
	}
}

.money-icon {
	color: green;
	font-weight: bold;
}


