//Fonts
$alfa-font: 'Bree Serif', serif;
$standard: 'Open Sans', sans-serif;
//Colors
$cream: HSLA(60, 46%, 90%, 1);
$green: HSLA(120, 100%, 32%, 1);
$brown: HSLA(14, 29%, 38%, 1);
$soft-green: HSLA(122, 39%, 49%, 1);

// Custom Styles
body {
  font-family: $standard;
  color: $brown;
  background-color: $cream;
}

.major-container {
	background-image: url('/images/farm.jpg')
}

.homepage {
	background-color: $green;
	opacity: .8;

	i {
		font-size: 9em;
	}

	h3 {
		font-size: 3.5em;
	}

	p {
		color: $cream;
		font-size: 1.4em;
	}
}

.image-box img { max-height:150px; }


.image-box {
	overflow: auto;
	background-color: white;
	img {
	margin-bottom: 10px;
	padding: 5px;
	border: 5px solid white;
	}

	h5 {
	color: $brown;
	font-size: 2em;
	}

	.img-icon {
		max-width:24%;
		min-width: 135px;
	}
}

.parallax-container {
	margin: 0px;

	.login-button {
		background-color: $green;
		margin-top: 10px;
	}
}

footer.page-footer {
	margin-top: 0px;

	a {
		color: $cream;
		text-decoration: underline;
	}
}

.logo {
  width: 100px;
}

.nav-

.user-login {
	font-size: 14px;
	margin: 8px 0 0 0;
}

.row {
	margin: 0px auto;
}

.tabs {
	background-color: $cream;
}

i {
	color: $cream;
}

h1, h2, h3, h4, h5, h6 {
	color: $cream;
	font-family: $alfa-font;
	letter-spacing: 2px;
	font-weight: 900;
}

.nav-wrapper {
	background-color: $soft-green;
}

.icon-pic {
	display: inline-block;
	width: 60px;
	vertical-align: middle;
	margin-left: 10px;
}

.profile-banner {
	width: 100%;
	background-color: $soft-green;

	.profile-pic {
		margin: 3% auto;
		width: 75px;
	}

	.cta h5 {
		margin: 0px auto 40px auto;
	}
}

.money-icon {
	color: green;
	font-weight: bold;
}

.modal {
	i {
		color: $brown;
	}
}

ul {

	h5 {
	color: $brown;
	font-size: 2em;
	}

	i {
		color: $brown;
	}

	li {
		color: $brown;
		margin-bottom: 10px;
	}

	.add-crops {
		margin-top: 20px;
	}
}

td {
	overflow: none;
}

tr {
	th {
		font-weight: bold;
		color: green;
	}	
}

select {
	margin: 5px 0px 10px 0px;
}

.card-image {
	margin-top: 10px;
}

#menu-dropdown {
	margin-top: 18px;
}

.delete-crop {
	i {
		color: red;

		&:hover {
			font-size: 1.8em;
			font-weight: bold;
		}
	}
}

.pricing-field {
	float: left;
}

/* label color */
 .input-field label {
   color: $brown;
 }
 
 /* label focus color */
 .input-field input:focus + label {
   color: $green;
 }
 /* label underline focus color */
 .input-field input:focus {
  	border-bottom: 1px solid $green;
   	box-shadow: 0 1px 0 0 $green;
 }
 /* valid color */
 .input-field input.valid {
   border-bottom: 1px solid $green;
   box-shadow: 0 1px 0 0 $green;
 }
 /* invalid color */
 .input-field input.invalid {
   border-bottom: 1px solid $green;
   box-shadow: 0 1px 0 0 $green;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $green;
 }

 .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
    color: $green; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.filter-bar {
	margin-top: 12px;
	display: inline-block;
}

