<!-- <nav>
  <div class="nav-wrapper">
    <a href="" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down brown-text">
      <li><a class="brown-text" href="#/login">Login</a></li>
      <li><a class="brown-text" href="#/register">Register</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#/login">Login</a></li>
      <li><a href="#/register">Register</a></li>
    </ul>
  </div>
</nav>  -->
	<br>
	<br>

<div class="container">
	<div class="row">
		<a href="#/" class="brown-text">back to home</a>
	</div>
		<div class="row">
			<a href="#/"><img class="col s10 offset-s1 m8 offset-m2 l6 offset-l3" src="images/farmers-market-logo.png"></a>
		<br>			
		<br>			
		</div>
	<br>


	<div class="row">
	  <form class="col s12 m10 offset-m1 l8 offset-l2" ng-submit="registerUser(user)">
	  	<div class="row">
	      <div class="input-field col s12">
	        <input ng-model="user.email" id="email" type="email" class="validate">
	        <label for="email">Email</label>
	      </div>
	    </div>
	    <div class="row">
	      <div class="input-field col s12">
	        <input ng-model="user.password" id="password" type="password" class="validate">
	        <label for="password">Password</label>
	      </div>
	    </div><br>
	    <div class="row center-align">
	    	<div class="col s12">
	    		<h6 class="brown-text">Select a Profile Type:</h6><br>
	    		<span class="col s6">
				    <input name="group1" type="radio" id="customer" ng-model="user.profile_type" value="customer" />
				    <label for="customer">Business</label>
				  </span>
				  <span class="col s6">
				  	<input ng-model="user.profile_type" value="farmer" name="group1" id="farmer" type="radio">
				  	<label for="farmer">Farmer</label>
				  </span>
			  </div>
		  </div><br/><br/>
	    <div class="row">
		  	<div class="col s12">
		  		<a class="col s7 user-login brown-text" href="#/login">back to login</a>
			  	<button class="btn waves-effect waves-light s5 col green" type="submit">Register</button>
		  	</div>	
			</div>
	  </form>
	</div>

</div>

  